/* ===================================================
    Initializr styles
    http://verekia.com/initializr/responsive-template
    Author: Jonathan Verrecchia
   =================================================== */

body{ font:16px/26px Helvetica, Helvetica Neue, Arial; }

.wrapper{
	width:90%;
	margin:0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

#header-container{ border-bottom: 20px solid #003399; }
#footer-container{ border-top:    20px solid #003399; }
#main aside      { border-top:    20px solid #003399;
}

#header-container,
#footer-container,
#main aside{
	background:#993333;
}

nav ul li a{
	background: #003399;
}

#title{ color:white; }

::-moz-selection { background: #993333; color: #fff; text-shadow: none; }
::selection      { background: #993333; color: #fff; text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }